.main-panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 92%;
}
#left {
    width: 10%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    border-right: #aeaeae 1px solid;
}

.group-title {
    font-weight: bold;
    color: #68686a;
    margin-left: 6px;
}

.group-item {
    margin-bottom: 5px;
    padding: 3px 0;
    width: 96%;
    padding-left: 14px;
}

.group-item:hover{
    background-color: #c8c8c8;
    cursor: pointer;
}

.group-item:last-child {
    margin-bottom: 0px;
}

#right {
    width: 90%;
    background-color:#ffffff;
    overflow-y: auto;
    padding: 13px 25px;
}

.folder-wrapper {
    display: inline-block;
}

.folder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.folder-img {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.folder-title {
    padding: 2px;
}

.folder:hover .folder-img{
    background-color: rgba(224, 224, 224, 0.5);
    cursor: pointer;
    border-radius: 4px;
}

.folder:hover .folder-title{
    background-color: rgba(0, 0, 255, 0.185);
    cursor: pointer;
    border-radius: 4px;
}
